* {
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: purple;
}

.active {
  font-weight: bold;
}

.title {
  font-size: 6vw;
  text-align: center;
}